
.header-strip {
    background-color: #eb4317;
    width: 100%;
    height: 60px;
    background: "images/headerbackground.jpg";
}

//url(http://trendbrew.com/images/backgrounds/trendbrew-background.jpeg)